<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Weather APP</title>
</head>
<body>
   
   {{>header}}
   <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: auto;">
  <div class="card-header" >Check Weather</div>
  <div class="card-body">
    <form action="/" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter City Name Here</label>
    <input type="text" name="city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City Name">
  </div>
  <button type="submit"  class="btn btn-primary">Submit</button>
</form>
    <br/>
    {{#if error}}
     <h6 class="display-6">{{ error}}</h6>
     {{/if}}
      {{#if name}}
    <h6 class="display-6">City : {{ name}}</h6>
     {{/if}}
    {{#if img}}
    <img src="{{img}}" height="180px" width="190px">
    {{/if}}
     {{#if text}}
    <h6 class="display-6">Current Condition : {{ text}}</h6>
     {{/if}}
     {{#if temp}}
    <h6 class="display-6">Max Temp : {{ temp}}</h6>
     {{/if}}
  </div>
</div>
  <h6 class="display-6">Developed By Saurabh Singh</h6>
</body>
</html>